/* Definicion de los estilos CSS*/
body{
    background-color: black;
    color: white;
}
/* Estilos */
a{
    color: hotpink;
}
a:hover{
    color: yellow;
}
/* Clase selectores*/

.texto-centrado{
    text-align: center;
}
.titulo{
    font-size: 200%;
}